@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html * {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*, :after, :before {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

body {
  font-family: "Lato", "Arial", "sans-serif";
  text-rendering: optimizeLegibility;
  background: #FFFFFF;
  overflow-x: hidden;
  line-height: 1.5em;
  font-size: 14px;
}
i {font-style: italic;}
a {
	text-decoration: none;
	color: #2096BA;
	font-weight: bold;
}

h1, h2, h3 {
	font-size: 1.3em;
	font-family: "Open Sans";
	font-weight: bold;
	padding: .725em 0;
	color: #30343D;
}
h2 {font-size: 1.2em;}
h3 {font-size: 1.1em;}

ul {
	padding-left: 30px;
	padding-bottom: .5em;
}

.uppercase {text-transform: uppercase}
/* .header {border-left: 5px solid #49565F;} */
.container {
	width: 700px;
/* 	border: 1px solid #CCC; */
	padding: 1em;
	margin: 0 auto;
	margin-top: 10%; /* pushing the container down from the top of the page */
}
