@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic);
html * {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
html {font-family: "Lato", sans-serif; background: #FFF;}
*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a {text-decoration: none;color: inherit;}

/*
  ========================================
  Sidebar
  ========================================
*/
.sidebar {
  position: fixed;
  width: 180px;
  height: 100%;
  background: #3f4242;
 }
.sidebar img {
	margin-left: 50px;
	margin-top: 75px;
}
 .sidebar h1{
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 45px;
 }
.sidebar ul {
  margin-top: 20px;
  padding-left: 45px;
}
.sidebar ul li {
  list-style: none;
  display: block;
  line-height: 1.5em;
  text-align: left;
}
.sidebar ul li a {
  color: #f7f7f7;
  font-weight: 400 !important;
  font-size: 14px;
}
.sidebar a {
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
.sidebar a:hover {
  color: #2EB8E6;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}
 /*
   ========================================
   Content
   ========================================
 */
 .content {
  margin-left: 180px;
  height: 100%;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
  background-color: #FFF;
 }
 .info, .main_content {
  width: 100%;
  position: relative;
  padding: 1em 2em;
  overflow: hidden;
 }
 .main_content {
  padding-top: 50px;
 	background-color: #F7F7F7;
 	height: 500px;

  font-family: "lato";
  font-weight: 300;
  position: relative;
  box-shadow: 1px 1px 5px #e1e1e1;
  overflow: hidden;
 }
 .main_content h1 {
  font-size: 30px;
 }
 .left_content {
 	width: 50%;
 	float: left;
 }
 .right_content {
  width: 50%;
 	float: left;
 }
.main_content ul {
  list-style-image: url('../Images/sqblue5.png');
  line-height: 25px;
  margin-bottom: 40px;
}
.info h1 {
  font-size: 45px;
  font-family: "Lato";
  font-weight: 300;
}
.info p {
  color: #697273;
  font-size: 14px;
  line-height: 1.6em;
}
.active {
	color: #929d9f !important;
}
.text_theme {
	border-left: 5px solid #CCFFCC;
  padding-left: 10px;
}
.publication h1,h2,h3, p {
	margin: .725em 0;
}
.clear {
	clear: both;
}
/*
  ========================================
  Button
  ========================================
*/
.button {
  background: #2980b9;
  width: 65px;
  height: 36px;
  float: left;
  margin: 10px 0;
}
.button-right {
  background: #3498db;
  width: 65px;
  height: 36px;
  float: left;
  margin-top: 10px;
}
.button-right img {
  position: relative;
  padding-top: 8px;
  padding-left: 19px;
}
.text {
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
}
.main_content ul {

  line-height: 25px;
  margin-bottom: 40px;
}
.main_content img {
  padding: 1em 0;
}
.main_content ul li {
  padding-top: .275em;
}
.main_content h3 {
  font-weight: 400;
}
.button-right img {
  position: relative;
  padding-top: 8px;
  padding-left: 19px;}
.hidden {display: none;}

/*
  ========================================
  Bold
  ========================================
*/
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}